<html>
<head>
  <title>MMD Player</title>
  <link rel="stylesheet" type="text/css" href="player.css">
  <script src="jquery-2.1.3.js"></script>
  <script src="jquery-ui.js"></script>
  <script src="angular.js"></script>
  <script src="player.js"></script>
</head>
<body ng-app="ngAppPlayer" data-ng-controller="MusicListController" ng-csp class="ng-scope">
  <div class="ctrl-panel">
    <span class="musicinfo-cover">
      <img src="icon.png">
    </span>
    <div class="musicinfo" class="ng-scope">
      <div class="musicinfo-title">{{ current.title }}</div>
      <div class="musicinfo-artist">{{ current.artist }} - {{ current.album }}</div>
      <input class="musicinfo-uri" ng-model="current.uri">
      <div class="progress">
        <span class="progress-time">{{ current.time }}/{{ current.duration }}</span>
        <div class="progress-bar">
          <div class="progress-buffer" ng-style="current.bufferstyle">
            <div class="progress-buffer-sp" ng-repeat="buffer in current.rawbuffer" ng-style="buffersp_style(buffer)"></div>
          </div>
          <div class="progress-current" ng-style="current.currentstyle"></div>
          <a class="progress-handle" ng-style="current.handlestyle"></a>
        </div>
      </div>
    </div>
    <div class="control">
      <div class="control-center" ng-init="current.playing=false">
        <button class="btnctrl-prev" ng-click="ctrl.prev()">&#x25af;&#x25c1;</button>
        <button class="btnctrl-play" ng-click="ctrl.play()" ng-if="!current.playing">&#x25b6;</button>
        <button class="btnctrl-pause" ng-click="ctrl.pause()" ng-if="current.playing">&#x25ae; &#x25ae;</button>
        <button class="btnctrl-next" ng-click="ctrl.next()">&#x25b7;&#x25af;</button>
      </div>
    </div>
  </div>
  <div class="list-panel">
    <div class="musiclist">
      <div class="musiclist-item" ng-repeat="music in musiclist" ng-class-odd="'musiclist-odd'" ng-class-even="'musiclist-even'">
        <span class="musiclist-id">{{ $index + 1 }}</span>
        <span class="musiclist-title">{{ music.title }}</span>
        <span class="musiclist-author">{{ music.author }}</span>
        <span class="musiclist-album">{{ music.album }}</span>
      </div>
    </div>
  </div>
</body>
</html>
