<html>
<head>
  <title>MMD Player</title>
  <link rel="stylesheet" type="text/css" href="player.css">
  <script src="angular.js"></script>
  <script src="player.js"></script>
</head>
<body ng-app="ngAppPlayer" data-ng-controller="MusicListController" ng-csp class="ng-scope">
  <div class="ctrl-panel">
    <span class="cover">
      <img src="icon.png">
    </span>
    <div class="info" class="ng-scope">
      <div class="title">{{ current.title }}</div>
      <div class="artist">{{ current.artist }}</div>
      <div class="album">{{ current.album }}</div>
      <div class="progress">
        <span class="progress-time">{{ current.time }}/{{ current.duration }}</span>
        <div class="progress-bar">
          <div class="progress-buffer" ng-style="current.bufferstyle"></div>
          <div class="progress-current" ng-style="current.currentstyle"></div>
          <a class="progress-handle" ng-style="current.handlestyle"></a>
        </div>
      </div>
    </div>
    <div ng-init="current.playing=false">
      <button class="btn-play" ng-click="ctrl.play()" ng-if="!current.playing">PLAY</button>
      <button class="btn-pause" ng-click="ctrl.pause()" ng-if="current.playing">PAUSE</button>
    </div>
  </div>
  <div class="list-panel">
    <div class="musiclist">
      <div class="musiclist-item" ng-repeat="music in musiclist" ng-class-odd="'musiclist-odd'" ng-class-even="'musiclist-even'">
        <span class="musiclist-id">{{ $index + 1 }}</span>
        <span class="musiclist-title">{{ music.title }}</span>
        <span class="musiclist-author">{{ music.author }}</span>
        <span class="musiclist-album">{{ music.album }}</span>
      </div>
    </div>
  </div>
</body>
</html>
