body {
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.ctrl-panel {
  top: 0;
  left: 0;
  position: relative;
  height: 140px;
}

.ctrl-panel .cover {
  height: 140px;
  width: 140px;
  float: left;
}

.ctrl-panel .cover img {
  height: 100%;
  width: 100%;
}

.ctrl-panel .info {
  margin: 0 10px 0 150px;
}

.ctrl-panel .info .title,.artist,.album {
  padding: 5px 10px 5px 10px;
  height: 15px;
  font-size: 15px;
}

.ctrl-panel .info .title {
  height: 20px;
  font-size: 20px;
}

.progress {
  margin: 35px 290px 0 0;
  height: 10px;
  position: relative;
}

.progress-bar {
  position: relative;
  height: 10px;
  margin: 0 100px 0 0;
  background: lightgrey;
}

.progress-bar div {
  top: 0;
  left: 0;
  position: absolute;
  height: 6px;
  margin: 2px 0;
  width: 100%;
}

.progress-buffer {
  background: gray;
}

.progress-current {
  background: blue;
}

.progress-handle {
  background: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  border-radius:10px;
  margin: -5px 0 0 -10px;
  height: 20px;
  width: 20px;
  position: absolute;
}

.progress-time {
  float: right;
  width: 80px;
  height: 20px;
  margin: -5px 0 0 0;
  padding: 0 5px;
  font-family: number;
  font-size: 14px;
}

.musiclist {
  margin: 10px 300px 0 150px;
  padding: 5px;
  font-size: 14px;
  background: ivory;
}

.musiclist div {
  height: 16px;
  margin: 2px;
}

.musiclist span {
  float: left;
  height: 16px;
  padding: 0px 5px;
  border-right: 1px dotted gray;
}

.musiclist-odd {
  background: lightcoral;
}

.musiclist-even {
  background: lightcyan;
}

.musiclist-id {
  width: 50px;
  text-align: right;
}

.musiclist-title {
  width: 200px;
}

.musiclist-author,.musiclist-album {
  width: 150px;
}
