body {
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.ctrl-panel {
  top: 0;
  left: 0;
  position: relative;
  height: 140px;
}

.ctrl-panel .cover {
  height: 140px;
  width: 140px;
  float: left;
}

.ctrl-panel .cover img {
  height: 100%;
  width: 100%;
}

.ctrl-panel .info {
  padding: 0 10px 0 150px;
  height: 100%;
}

.ctrl-panel .info .title,.artist,.album {
  padding: 5px 10px 5px 10px;
  height: 15px;
  font-size: 15px;
}

.ctrl-panel .info .title {
  height: 20px;
  font-size: 20px;
}

.progress {
  margin: 15px 300px 0 0;
  position: relative;
  background: lightgrey;
  height: 10px;
}

.progress .progress-buffer,.progress-current {
  top: 0;
  left: 0;
  position: absolute;
  height: 6px;
  margin: 2px;
  width: 100%;
}

.progress .progress-buffer {
  background: grey;
}

.progress .progress-current {
  background: blue;
}

.progress .progress-handle {
  background: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  border-radius:10px;
  margin: -5px 0 0 -10px;
  height: 20px;
  width: 20px;
  position: absolute;
}
