<html>
<head>
  <meta charset="utf-8">
  <title>MMD Player</title>
  <link rel="stylesheet" type="text/css" href="css/player.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/Dexie.min.js"></script>
  <script src="js/player.js"></script>
</head>
<body ng-app="ngAppPlayer" data-ng-controller="MusicListController" ng-csp class="ng-scope">
  <div id="clouds-music-movement-door-player" style="position:absolute; left:0; top:0; height:0; width:0" onclick="playLast()" hidden></div>
  <nav class="ctrl-panel navbar navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="musicinfo-cover col-md-2">
          <img src="img/icon.png">
        </div>
        <div class="musicinfo ng-scope col-md-7">
          <div class="musicinfo-title">{{ current.title }}</div>
          <div class="musicinfo-artist">{{ current.artist }}</div>
          <div class="musicinfo-uri" ng-init="current.showinput = false">
            <a ng-href="{{ current.uri }}" ng-attr-title="{{ current.uri }}" ng-click="current.showinput = true" ng-show="!current.showinput" onclick="return false;">{{ current.uri.truncate(50) }}</a>
            <input ng-model="current.showuri" ng-blur="current.showinput = false" ng-set-focus="current.showinput" ng-show="current.showinput" ng-enter="ctrl.set(current.showuri);current.showinput = false">
          </div>
          <div class="musicinfo-time">
            <span class="progress-time">{{ current.time.toMMSS() }}/{{ current.duration.toMMSS() }}</span>
            <div class="progress-xbar" ng-click="current.time = current.duration * utils.getClickValue($event)">
              <div class="progress-buffer">
                <div class="progress-buffer-sp" ng-repeat="buffer in current.buffered" ng-style="utils.bufferspStyle(buffer)"></div>
              </div>
              <div class="progress-current" ng-style="{ 'width': utils.timeToPercent(current.time) }"></div>
              <a class="progress-handle" ng-style="!current.dragging && { 'left': utils.timeToPercent(current.time) }"></a>
            </div>
          </div>
        </div>
        <div class="ctrlbox col-md-3">
          <div class="volume-ctrl">
            <div class="volume-bar" ng-click="current.volume = utils.getVClickValue($event)">
              <div class="volume-current" ng-style="{ 'height': current.volume.toPercent() }"></div>
            </div>
            <button class="volume-mute">+</button>
          </div>
        </div>
      </div>
      <div class="control">
        <div class="control-center btn-group">
          <button type="button" class="btn btn-default btnctrl-prev" aria-label="Prev" ng-click="current.cid=current.cid-1"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default btnctrl-play" aria-label="Play" ng-click="current.playing = true" ng-if="!current.playing" ng-disabled="!currentlist.length"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default btnctrl-pause" aria-label="Pause" ng-click="current.playing = false" ng-if="current.playing"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default btnctrl-next" aria-label="Next" ng-click="current.cid=current.cid+1"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
        </div>
      </div>
    </div>
  </nav>
  <div class="list-panel">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
          <table class="musiclist table table-striped table-hover">
            <tr class="musiclist-item" ng-repeat="music in currentlist track by $index" ng-class="{'warning': current.cid==$index}" ng-dblclick="current.cid=$index" ondblclick="return false">
              <td class="musiclist-id">{{ $index + 1 }}</td>
              <td class="musiclist-title">{{ music.title }}</td>
              <td class="musiclist-author">{{ music.artist }}</td>
            </tr>
          </table>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#songInfoModal">Add Song</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="songInfoModal" tabindex="-1" role="dialog" aria-labelledby="songInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form ng-submit="listctrl.add()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="songInfoModalLabel">Add Song by URL</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="form-group col-md-12">
                <!-- <label for="title" class="control-label">Title:</label> -->
                <input id="tmp-title" type="text" class="form-control" name="title" placeholder="Title">
              </div>
              <div class="form-group col-md-12">
                <!-- <label for="author" class="control-label">Author:</label> -->
                <input id="tmp-artist" type="text" class="form-control" name="artist" placeholder="Artist">
              </div>
              <div class="form-group col-md-12">
                <!-- <label for="url" class="control-label">URL:</label> -->
                <input id="tmp-uri" type="text" class="form-control" name="uri" placeholder="URL">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input id="tmp-submit" type="submit" class="btn btn-primary" value="Finish">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
