<html>
<head>
  <title>MMD Player</title>
  <link rel="stylesheet" type="text/css" href="css/player.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <script src="js/jquery-2.1.3.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/player.js"></script>
</head>
<body ng-app="ngAppPlayer" data-ng-controller="MusicListController" ng-csp class="ng-scope">
  <nav class="ctrl-panel navbar navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="musicinfo-cover col-md-2">
          <img src="img/icon.png">
        </div>
        <div class="musicinfo ng-scope col-md-7">
          <div class="musicinfo-title">{{ current.title }}</div>
          <div class="musicinfo-artist">{{ current.artist }} - {{ current.album }}</div>
          <div class="musicinfo-uri" ng-init="current.showinput = false">
            <a ng-href="{{ current.uri }}" ng-attr-title="{{ current.uri }}" ng-click="current.showinput = true" ng-show="!current.showinput" onclick="return false;">{{ current.uri.truncate(50) }}</a>
            <!-- http://cdn.y.baidu.com/yinyueren/30d43f135e7e041b190a761d19a104fc.mp3?xcode=6c03e118aaf9408f331b2f0f8247f9da51f715e84709ddb5 -->
            <input ng-model="current.showuri" ng-blur="current.showinput = false" ng-set-focus="current.showinput" ng-show="current.showinput" ng-enter="ctrl.set(current.showuri);current.showinput = false">
          </div>
          <div class="musicinfo-time">
            <span class="progress-time">{{ current.time.toMMSS() }}/{{ current.duration.toMMSS() }}</span>
            <div class="progress-xbar" ng-click="current.time = current.duration * utils.getClickValue($event)">
              <div class="progress-buffer">
                <div class="progress-buffer-sp" ng-repeat="buffer in current.buffered" ng-style="utils.bufferspStyle(buffer)"></div>
              </div>
              <div class="progress-current" ng-style="{ 'width': utils.timeToPercent(current.time) }"></div>
              <a class="progress-handle" ng-style="!current.dragging && { 'left': utils.timeToPercent(current.time) }"></a>
            </div>
          </div>
        </div>
        <div class="ctrlbox col-md-3">
          <div class="volume-ctrl">
            <div class="volume-bar" ng-click="current.volume = utils.getVClickValue($event)">
              <div class="volume-current" ng-style="{ 'height': current.volume.toPercent()+'%' }"></div>
            </div>
            <button class="volume-mute">+</button>
          </div>
        </div>
      </div>
      <div class="control">
        <div class="control-center" ng-init="current.playing = false">
          <button class="btnctrl-prev" ng-click="ctrl.prev()">&#x25af;&#x25c1;</button>
          <button class="btnctrl-play" ng-click="current.playing = true" ng-if="!current.playing">&#x25b6;</button>
          <button class="btnctrl-pause" ng-click="current.playing = false" ng-if="current.playing">&#x25ae; &#x25ae;</button>
          <button class="btnctrl-next" ng-click="ctrl.next()">&#x25b7;&#x25af;</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="list-panel">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="musiclist col-md-7">
          <div class="musiclist-item" ng-repeat="music in musiclist" ng-class-odd="'musiclist-odd'" ng-class-even="'musiclist-even'">
            <span class="musiclist-id">{{ $index + 1 }}</span>
            <span class="musiclist-title">{{ music.title }}</span>
            <span class="musiclist-author">{{ music.author }}</span>
            <span class="musiclist-album">{{ music.album }}</span>
          </div>
        </div>
      </div>
    </div>  
  </div>
</body>
</html>
