body {
  font-family: "Arial","Microsoft YaHei",sans-serif;
  padding: 170px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea {
     -moz-user-select: text;
}

.ctrl-panel {
  height: 170px;
  background: aqua;
  border-bottom: 10px solid white;
}

.container > .row {
  padding: 15px;
}

.musicinfo-cover {
  height: 140px;
}

.musicinfo-cover img {
  margin: 0 auto;
  display: block;
  height: 140px;
  width: 140px;
}

.musicinfo-title {
  padding: 5px 10px 5px 10px;
  height: 35px;
  font-size: 20px;
}

.musicinfo-artist {
  padding: 5px 10px 5px 10px;
  height: 25px;
  font-size: 15px;
}

.musicinfo-uri {
  margin: 20px 300px 5px 10px;
  min-width: 300px;
  height: 25px;
  font-size: 9px;
  display: inline-block;
  z-index: 10050;
  position: relative;
}

.musicinfo-uri > a {
  display: block;
  margin: 4px 2px;
  position: absolute;
}

.musicinfo-uri > input {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}

.musicinfo-time {
  margin: 10px 5px;
  height: 10px;
  position: relative;
}

.progress-xbar {
  position: relative;
  height: 10px;
  margin: 0 100px 0 0;
  background: lightgrey;
}

.progress-xbar div {
  top: 0;
  left: 0;
  position: absolute;
  height: 6px;
  margin: 2px 0;
  width: 100%;
}

.progress-xbar .progress-buffer-sp {
  margin: 0;
  background: gray;
}

.progress-current {
  background: blue;
}

.progress-handle {
  background: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  border-radius:10px;
  margin: -5px -10px 0 -10px;
  height: 20px;
  width: 20px;
  z-index: 10050;
  position: absolute;
}

.progress-time {
  float: right;
  width: 80px;
  height: 20px;
  margin: -5px 0 0 0;
  padding: 0 5px;
  font-family: number;
  font-size: 14px;
}

.volume-ctrl {
  position: relative;
  z-index: 10050;
}

.volume-bar {
  height: 80px;
  width: 8px;
  background-color: lightgray;
  position: relative;
}

.volume-current {
  height: 30%;
  width: 100%;
  bottom: 0;
  background-color: gray;
  position: absolute;
}

.volume-mute {
  padding: 0;
  margin: 0 -2px;
  width: 12px;
  position: relative;
  background-color: transparent;
}

.control {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

.control-center {
  margin: 15px auto;
  display: inline-block;
}

.control-center button {
  width: 80px;
  height: 80px;
  font-size: 60px;
  text-align: center;
  border: 0px;
  color: black;
  background: transparent;
  transition: color .2s ease-in-out;
}

.control-center button:hover {
  color: coral;
  background: transparent;
}

.list-panel {
  left: 0px;
  width: 100%;
  position: absolute;
}

.list-panel > .row {
  padding: 15px 10px 10px 10px;
}

.musiclist {
  font-size: 14px;
  overflow-x: auto;
  overflow-y: hidden;
}

.musiclist-item {
  overflow: hidden;
}

.musiclist-odd {
  /* background: lightcoral; */
}

.musiclist-even {
  /* background: lightcyan; */
}

.musiclist-id {
  width: 50px;
  text-align: right;
}

.musiclist-title {
  width: 200px;
}

.musiclist-author {
  width: 150px;
}
